@import '../Styles/vars.scss';

$bottomBorder: 8px solid $blue;

#schedule-container {
	margin-top: 48px;
	@media #{$bp800} {
		margin-top: 96px;
	}
}
.schedule-day {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 12px 5% 96px;
	text-align: left;
	width: 90%;
	box-sizing: border-box;
	&-title {
		width: 88%;
		font-weight: bold;
		font-size: 36px;
		margin: 24px auto 12px;
		padding: 1em 0;
		border-bottom: $bottomBorder;
		background: $blackTrans50;
		box-shadow: $lowShadowFromAbove;
		& #suffix {
			vertical-align: super;
			font-size: .5em;
		}
	}
}
#scheduleFor {
	font-size: .5em;
	line-height: .5em;
	font-weight: normal;
}
.schedule-entry {
	font-size: 15px;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	margin: 12px 1%;
	padding: 18px 15px 12px;
	width: 100%;
	box-sizing: border-box;
	border-bottom: $bottomBorder;
	background: $blackTrans50;
	box-shadow: $lowShadowFromAbove;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020a12', endColorstr='#000000',GradientType=0 );
	@media #{$bp500} {
		font-size: 18px;	
	}
	@media #{$bp1080} {
		width: 48%;
		padding: 36px;
	}
	&-info {
		color: $whiteTrans50;
		padding: 0 12px;
		line-height: 1.8em;
		font-size: 18px;
		@media #{$bp500} {
			padding: 0 24px;
		}
	}
	&-source {
		font-size: 24px;
		line-height: .8em;
		@media #{$bp500} {
			//padding-bottom: 6px;
			font-size: 36px;
		}
	}
	&-time {
		color: $white;
	}
	&-twitch-link {
		display: flex;
		align-items: center;
		font-size: 18px;
		height: 1.2em;
		& img {
			width: 1em;
			height: 1em;
		}
	}
}
.schedule-entry-title, .schedule-entry-time {
	display: inline-block;
}
@media #{$bp1080} {
	.schedule-entry:nth-child(2n) {
		background: linear-gradient(240deg, $darkBlack 0%, $blueGlow 100%);
		flex-direction: row-reverse;
		& .schedule-entry-info {
			text-align: right;
		}
		& .schedule-entry-twitch-link {
			justify-content: flex-end;
		}
	}
	.schedule-entry:nth-child(2n+1) {
		background: linear-gradient(120deg, $darkBlack 0%, $blueGlow 100%);
	}
	.schedule-entry:last-child:nth-child(2n+1), .schedule-day-title {
		background: radial-gradient(at top, $blueGlow 5%, $darkBlack 100%);
		justify-content: center;
	}
	.schedule-entry:last-child:nth-child(2n+1) {
		width: 75%;
	}
}
img.schedule-entry-logo {
	width: 72px;
	height: 72px;
	opacity: .85;
	@media #{$bp500} {
		width: 96px;
		height: 96px;
	}
}
a.schedule-entry-link {
	color: $white;
	text-decoration: none;
	&.twitch {
		color: $blue;
	}
}