@import '../Styles/vars.scss';

#gardenHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 92%;
	margin: auto;
}
p.clipCount {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 6px;
	text-align: left;
}
#addStreamBox {
	font-size: 18px;
	height: 36px;
	width: 240px;
	text-align: center;
}

#streamList {
	display: inline-block;
	max-width: 95%;
	border: 1px solid $whiteTrans07;
	background: $blackTrans25;
	margin-top: 18px;
}
.streamListItem {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	padding: 18px 24px;
	font-size: 18px;
	color: $gold;
	&:hover {
		opacity: .1;
	}
	&.deactivated {
		opacity: .1;
		&:hover {
			opacity: 1;
		}
	}
}

#garden {
	width: 95%;
	margin: 18px auto;
}
.seedling{
	background: $blackTrans25;
	border: 3px solid $whiteTrans07;
	position: relative;
	margin: 24px 0;
	padding: 24px 18px;
	box-sizing: border-box;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
}
.seedlingMeta {
	width: 100%;
	display: flex;
	align-items: center;
}
.seedlingLogo {
	width: 96px;
	flex-grow: 0;
	line-height: 0;
	padding: 0 6px;
	img {
		width: 100%;
		height: auto;
	}
}
.seedlingTitle {
	margin-bottom: 12px;
	a {
	font-size: 26px;
	color: $white;
	text-decoration: none;
	font-weight: bold;
	}
	& .score {
		color: $blue;
		display: inline;
	}
	&:hover {
		text-decoration: underline;
	}
}
.seedlingInfo {
	text-align: left;
	padding: 0 24px;
	width: 100%;
}
.seedlingDetails {
	a {
		color: $blue;
	}
}
.seedlingContentComponents {
	display: flex;
}
.seedlingControls {
	width: 96px;
	flex-grow: 0;
	&Top {
		margin: 18px 0;
		line-height: 0;
	}
}
.seedControlImg {
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.nukeButton {
	width: 72px;
	margin-bottom: 24px;
}
.andNext {
	margin: 0 8px;
}
.seedlingContentRight {
	padding: 0 12px 0 24px;
}
.keepbar {
	margin: 6px 0 24px;
}
input.keepbarInput {
	width: calc(100% - 60px);
}

.keepbutton {
	width: 48px;
	margin-left: 12px;
	box-sizing: border-box;
	font-size: 15px;
	padding: 3px;
}
