@import '../Styles/vars.scss';

#gardenHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 92%;
	margin: 48px auto;
}
p.clipCount {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 6px;
	text-align: left;
}
#addStreamBox {
	font-size: 18px;
	padding: 1em;
	height: 36px;
	width: 96px;
	margin: 0 12px;
	text-align: center;
	max-width: 360px;
	flex-grow: 1;
	@media #{$bp500} {
		font-size: 24px;
	}
}

#streamList {
	display: inline-block;
	max-width: 95%;
	border: 2px solid $whiteTrans15;
	border-radius: 3px;
	background: $blueGlass;
	margin: 18px auto;
}
.streamListItem {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	padding: 18px 24px;
	font-size: 18px;
	color: $gold;
	&.deactivated {
		opacity: .1;
	}
}
#gardenStatus {
	width: 60%;
	max-width: 1920px;
	margin: 18px auto;
	background: $blueGlass;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 4px;
	color: $whiteTrans75;
	font-size: 18px;
	h4 {
		font-weight: normal;
		font-size: 18px;
		margin: 0;
	}
	p {
		display: inline-block;
		margin: 0;
	}
	a {
		color: $blueTrans75;
	}
}
button.nukeButton {
	display: block;
	margin: 1em auto 0;
	color: $red;
	border: 1px solid $red;
}
input.taggerBox {
	width: 84px;
	margin-top: 1em;
}

#garden {
	width: 95%;
	max-width: 1920px;
	margin: 18px auto;
}
.seedling{
	background: $blueGlass;
	//background: $darkBlack;
	border: 3px solid $whiteTrans07;
	position: relative;
	margin: 24px 0;
	padding: 24px 18px;
	box-sizing: border-box;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
}
.seedlingMeta {
	width: 100%;
	display: flex;
	align-items: center;
}
.seedlingLogo {
	width: 96px;
	flex-grow: 0;
	line-height: 0;
	padding: 0 6px;
	img {
		width: 100%;
		height: auto;
	}
}
.seedlingTitle {
	margin-bottom: 12px;
	a {
	font-size: 26px;
	color: $white;
	text-decoration: none;
	font-weight: 500;
	}
	& .score {
		color: $blueTrans50;
		display: inline;
	}
	& .tag {
		background: $blue;
		color: $white;
		margin: 0px 6px;
		padding: 4px;
	}
	&:hover {
		text-decoration: underline;
	}
}
.seedlingInfo {
	text-align: left;
	padding: 0 24px;
	width: 100%;
}
.seedlingDetails {
	font-weight: 300;
	color: $whiteTrans50;
	a {
		color: $blueTrans75;
	}
}
.seedlingContentComponents {
	display: flex;
}
.seedlingControls {
	width: 96px;
	flex-grow: 0;
	&Top {
		margin: 18px 0;
		line-height: 0;
	}
}
.submissionCutter {
	width: 36px;
}
.seedControlImg {
	width: 36px;
	height: 36px;
	padding: 6px;
	cursor: pointer;
}
.nukeButton {
	width: 72px;
	margin-bottom: 24px;
}
.andNext {
	margin: 0 8px;
}
.seedlingContent {
	width: 100%;
}
.seedlingContentRight {
	padding: 0 8px 0 24px;
	flex-grow: 1;
}
.keepbar {
	// margin: 6px 0 24px;
}
input.keepbarInput {
	width: calc(100% - 60px);
	height: 36px;
	font-size: 18px;
}

.keepbutton {
	width: 48px;
	margin-left: 12px;
	box-sizing: border-box;
	font-size: 15px;
	padding: 3px;
}

.seedling .contentbox {
	max-width: initial;
}

#loadMore {
	margin: 12px auto 36px;
	padding: 15px;
}
