*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

plugins/decomments/
plugins/drag-drop-featured-image/
plugins/regenerate-thumbnails/
plugins/taxonomy-switcher/
plugins/term-management-tools/
plugins/theme-my-login/
plugins/wordpress-social-login/
plugins/wp-smushit/
plugins/github-updater/
plugins/wp-sync-db-1.5/
plugins/redirection/
plugins/rest-api/

plugins/dailies-2/privateData.php

plugins\decomments\
plugins\drag0drop-featured-image\
plugins\regenerate-thumbnails\
plugins\taxonomy-switcher\
plugins\term-management-tools\
plugins\theme-my-login\
plugins\wordpress-social-login\
plugins\wp-smushit\
plugins\github-updater\
plugins\wp-sync-db-1.5\
plugins\redirection\
plugins\rest-api\

themes\Dailies2\node_modules\
themes/Dailies2/node_modules/
themes/Dailies2/Bundles/
themes/Dailies2/Dailies2.sublime-project
themes/Dailies2/Dailies2.sublime-workspace
themes/Dailies2/style-*

themes\Dailies\js\jquery.dfp.js
uploads\
uploads/
upgrade/

wp-content/themes/Dailies/js/jquery.dfp.js

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

*.jpg

*.png

*.jpeg

*.gif

uploads/wp-sync-db/index.php
