@import '../Styles/vars.scss';

#channelChanger {
	width: 95%;
	margin: 60px auto;
}
.channelChangerButton {
	display: inline-block;
	position: relative;
	background: $darkBlack;
	padding: 3px;
	margin: 6px 3px;
	border-radius: 2px;
	line-height: 0;
}

.channelChangerLogo {
	display: inline-block;
	max-width: 120px;
	width: 100%;
	img {
		width: 100%;
		height: auto;
	}
	@media #{$bp800} {
		max-width: 192px;
	}
}

.channelChangerDetails {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	white-space: pre-wrap;
	padding: 8px;
	box-sizing: border-box;
	background: $darkBlack;
	line-height: 1.5em;
	opacity: 0;
	transition: opacity .1s;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
.channelChangerButton.active .channelChangerDetails {
	opacity: 1;
}
.channelDisplayName {
	color: $gold;
	font-size: 18px;
	font-weight: bold;
}

#sortButton {
	background: $lightBlack;
	padding: 3px 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	width: 126px;
	height: 126px;
	box-sizing: border-box;
	border: 3px solid $darkBlack;
	img {
		width: 72px;
		height: 72px;
	}
	&:hover {
		background: $darkBlack;
	}
	@media #{$bp800} {
		width: 198px;
		height: 198px;
	}
}
#sortButton.active {
	background: $darkBlack;
}

#StageFilter {
	margin-bottom: 48px; 
	.StageFilterButton {
		display: inline-block;
		margin: 0 24px;
		font-size: 2em;
		line-height: 2em;
		font-weight: normal;
		text-shadow: 0 0 3px $darkBlack;
		text-decoration: underline;
		cursor: pointer;
		&:hover {
			color: $blue;
		}
		&.active {
			color: $blue;
			font-weight: bold;
		}
	}
}

#coHostsPanel {
	margin-bottom: 84px;
}
#coHostsPanelTitle {
	font-size: 24px;
	font-weight: bold;
	color: $gold;
	text-shadow: 0 0 6px $darkBlack;
}
.cohostButton {
	display: inline-flex;
	background: $blueGlass;
	border: 3px solid $darkBlack;
	box-shadow: $lowShadow;
	align-items: center;
	padding: 18px;
	margin: 18px;
}
.cohostLogo {
	width: 96px;
	height: 96px;
	margin-right: 18px;
	img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}
.cohostMeta {
	margin: 0 12px;
}
.cohostName {
	font-size: 36px;
	font-weight: bold;
	color: $white;
	margin-bottom: 12px;
}
.cohostSocialLinkImg {
	width: 42px;
	height: 42px;
	margin: 0 6px;
}

#LivePostsLoops {
	margin: 60px auto;
}

#livePostsLoop {
	width: 95%;
	margin: auto;
	margin-bottom: 60px;
	@media #{$bp800} {
		width: 90%;
	}
}
h4.LivePostsLoopHeader {
	font-size: 3em;
	font-weight: 300;
	width: 100%;
	margin: 24px 0;
	color: $whiteTrans75;
	text-shadow: 0px 1px 4px $darkBlack;
}

.littleThingsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    align-items: baseline;
}

.LittleThing {
	position: relative;
	background: $blueGlass;
	border: 3px solid $whiteTrans07;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 6px $blackTrans25;
	width: 100%;
	margin: 16px 8px;
	padding: 12px;
	box-sizing: border-box;
	text-align: left;
	font-size: 24px;
	& img.sourcepic {
		width: 48px;
		height: 48px;
		margin-right: 12px;
	}
	& img.starpic {
		opacity: .75;
	}
	& h3 {
		font-size: .5em;
		line-height: 1em;
		font-weight: 500;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .titleBox {
		flex-grow: 1;
		line-height: .75em;
		@media #{$bp850} {
			line-height: 1em;
		}
		@media #{$bp1280} {
			line-height: 1.25em;
		}
	}
	& a.titleLink {
		color: $white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	& .votecount {
		font-size: .5em;
		font-weight: 500;
		color: $gold;
		display: inline-block;
		margin-left: 8px;
		@media #{$bp850} {
			font-size: .75em;
		}
		@media #{$bp1280} {
			font-size: 1.25em;
		}
	}
	& .voteBox {
		margin: 0 0 0 12px;
		img {
			width: 48px;
			height: 48px;
		}
	}
	& p.attribution {
		margin: 0;
		font-size: 18px;
		font-weight: 300;
		a, a:visited {
			color: $whiteTrans75;
		}
	}
	& div.stars {
		display: inline-flex;
	}
	&.votedFor {
		box-shadow: 0 0 8px $goldTrans75;
		background: $darkerGlass;
	}
	@media #{$bp850} {
		width: calc(50% - 16px);
	}
	@media #{$bp1900} {
		width: calc(33% - 16px);
	}
}

.votePrompter {
	position: absolute;
	top: -30px;
	left: 0px;
	width: 100%;
	text-align: center;
	color: $gold;
}

.littleThingTop, .littleThingBottom, .liveAdminControls {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.littleThingTop {
	margin-bottom: 9px;
	height: 75px;
}

.littleThingBottom {
	margin-top: 6px;
	margin-left: 6px;
	height: 40px;
}
.liveAdminControls {
	flex-grow: 1;
	font-size: .625em;
	line-height: 0;
	a {
		color: $blue;
	}
}
.VoterInfoBox {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: 6px;
	border-top: 1px solid $whiteTrans07;
	min-height: 36px;
}
.voterBubble {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	margin: 6px 3px 0;

}

img.littleThingTrasher, img.editThisImg, img.littleThingPromoter {
	width: 24px;
	margin-right: 12px;
	height: auto;
	cursor: pointer;
	opacity: .8;
}
img.littleThingPromoter {
	margin-right: 18px;
}
img.littleThingAuthor {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	margin-left: 18px;
	margin-right: 9px;
	opacity: .6;
}
input.nomCheckbox {
	width: 16px;
	margin-right: 16px;
}

img.resetLive {
	width: 50px;
	height: 50px;
	margin-bottom: 12px;
}
#submissionsToggle {
	font-size: 24px;
	margin-bottom: 48px;
}