$gold: hsla(42, 79%, 64%, 1);
$blue: hsla(210, 68%, 54%, 1);
$red: hsla(0, 68%, 54%, 1);
$white: hsla(0, 0%, 90%, 1);
$green: hsla(110, 52%, 36%, 1);

$whiteTrans75: hsla(0, 0%, 94%, .75);
$whiteTrans50: hsla(0, 0%, 94%, .50);
$whiteTrans25: hsla(0, 0%, 94%, .25);
$whiteTrans15: hsla(0, 0%, 94%, .15);
$whiteTrans07: hsla(0, 0%, 94%, .07);
$whiteTrans03: hsla(0, 0%, 94%, .03);

$blackTrans90: hsla(0, 0%, 0%, .9);
$blackTrans75: hsla(0, 0%, 0%, .75);
$blackTrans60: hsla(0, 0%, 0%, .6);
$blackTrans50: hsla(0, 0%, 0%, .5);
$blackTrans25: hsla(0, 0%, 0%, .25);
$darkBlack: #121212;
$lightBlack: #262626;

$blueTrans75: hsla(210, 68%, 54%, .75);
$blueTrans50: hsla(210, 68%, 54%, .5);
$lighterblueTrans: hsla(210, 90%, 90%, .2);

$goldTrans90: hsla(42, 79%, 64%, .9);
$goldTrans75: hsla(42, 79%, 64%, .75);
$goldTrans50: hsla(42, 79%, 64%, .5);
$goldTrans33: hsla(42, 79%, 64%, .33);

$backgroundEdge: hsla(30, 30%, 5%, 1);
//$backgroundCore: hsla(210, 15%, 15%, 1);
$backgroundCore: hsla(210, 6%, 14%, 1);
//$backgroundCore: hsla(42, 35%, 40%, 1);

$goldGlow: hsla(42, 79%, 20%, .1);
$blueGlow: hsla(210, 30%, 14%, .8);

$blueGlass: hsla(210, 9%, 6%, 1);
//$blueGlass: hsla(210, 6%, 12%, 1);
$thinBlueGlass: hsla(210, 8%, 8%, .75);
$thinnerBlueGlass: hsla(210, 8%, 8%, .5);

$lighterGlass: hsla(212, 38%, 18%, 1);
$darkerGlass: hsla(222, 16%, 10%, 1);
//$blueGlass: linear-gradient(240deg, $darkerGlass 0%, $lighterGlass 100%);


$bp350: "screen and (min-width: 350px)";
$bp500: "screen and (min-width: 500px)";
$bp760: "screen and (min-width: 760px)";
$bp800: "screen and (min-width: 800px)";
$bp850: "screen and (min-width: 850px)";
$bp1080: "screen and (min-width: 1080px)";
$bp1280: "screen and (min-width: 1280px)";
$bp1900: "screen and (min-width: 1900px)";

$lowShadow: 0 0 6px rgba(0,0,0,.25);
$lowShadowFromAbove: 0 2px 6px rgba(0,0,0,.25);

.noise:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}